@import './Partials/fonts';
@import './Partials/colors';

.card {
    .card-content {
        font-size: 1.2rem;
        margin: auto;
        overflow: scroll;

        p {
            margin-bottom: 15px;
        }

        h3{
            font-family: $handwrite-title;
            margin-bottom: 15px;
        }

        ul {
            list-style-type: circle;
            margin-left: 5px;
        }
    }
}

.dev-info {
    position: fixed;
    z-index: 1;
    left: 120px;
    transform: rotate(-15deg);
    background-color: $whale-oil-blue;

    a {
        font-size: 3rem;
    }
}

.tech {
    position: fixed;
    left: 200px;
    bottom: 125px;
    transform: rotate(7deg);
    background-color: $purple-post-it;
}

.coming-soon {
    position: fixed;
    left: 30vw;
    top: 90px;
    transform: rotate(3deg);
}

.mit-license {
    position: fixed;
    left: 40vw;
    bottom: 65px;
    background-color: lightpink;
    transform: rotate(-3deg);
}

.bitd-license {
    position: fixed;
    right: 100px;
    bottom: 75px;
}