@import '../../Sass/Partials/colors';
@import '../../Sass/Partials/fonts';

.header {
    color: $title-gray;
    background-color: black;
    font-family: $sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: $handwriting;
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 10px;
    }

    a { 
        color: $whale-oil-blue;
        &:hover {
            color: $title-gray;
        }
    }

}

.navbar {
    width: 100vw;
}

.navbar-menu, .navbar-item, .navbar-brand {
    background-color: black;
}

.brand-logo {
    font-family: $handwriting;
}

.splash {
    max-height: 20vh;
}


@media screen and (max-width: 767px) {
    .splash {
        display: none;
    }
    #logo {
        display: none;
    }

    .navbar-menu.is-active {
        background-color: black;
        position: fixed;
        right: 0;
        text-align: right;
    }
}