aside.menu {
    // TODO figure out how to make this sticky
    border-right: 2px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}