@import '../../Sass/Partials/fonts';
@import '../../Sass/Partials/colors';


.card {
    position: relative;
    width: 20vw;
    height: 40vh;
    font-family: $handwriting;
    font-size:1.1rem;
    margin-bottom: 30px;
    
    .v{
        position: absolute;
        left: 35px;
        height: inherit;
        border-left: 2px double $legal-pad-vertical;
    }
    

    .card-header{
        font-family: $handwrite-title;
        font-size: 1rem;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid $legal-pad-horizontal;

    }
            

    .card-content {
        height: inherit;
        margin-left: 35px;
        // text-decoration: underline $legal-pad-horizontal;
        display: flex;
        flex-direction: column;

        h2 {
            margin-right: 35px;
            font-weight: bold;
            align-self: center;
        }
    }
}


