@charset "utf-8";
@import './Sass/Partials/overrides';
@import "../node_modules/bulma/bulma.sass";
@import './Sass/Forms.scss';

body {
    min-height: 100vh;
    background-image: $grid-with-triangle;
    background-size: cover;
    background-position: center;
    font-family: $headers;
}
