// ANCHOR colors pulled from game book and Dishonored screenshots
$whale-oil-blue: rgba(191, 240, 254, 1);
$cover-orange: #FD7722;
$cover-mid: #8B8B8B;
$cover-dark: #202225;
$title-gray: #AFAFAF;

$translucent-orange: transparentize($cover-orange, .5);
$cover-gradient: linear-gradient($cover-dark, $cover-orange);

// ANCHOR colors pulled from office supplies
$file-folder: #FFF0CC;
$legal-pad: #F9EF98;
$legal-pad-vertical: #F89D66;
$legal-pad-horizontal: #8CC899;
$purple-post-it: #D8B1EE;
$green-post-it: #B9E6B0;



// ANCHOR miscellaneous
$confirm: rgb(100, 245, 100);